.wrapper {
  display: grid;
  grid-template-columns: minmax(300px, auto) 1fr;
  grid-template-areas: "navbar mainContent";
  grid-gap: 30px;
}
nav#navbar {
  grid-area: navbar;
  position: fixed;
  border: 2px solid #7d7373;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  overflow-x: hidden;
}
main#main-doc {
  grid-area: mainContent;
}
.nav-link {
  display: block;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}
header {
  font-size: 24px;
  font-weight: bold;
}
code {
  background-color: #564c4c;
  padding: 5px;
  display: block;
}
@media screen and (max-width: 750px) {
  div.wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "navbar" "mainContent";
  }
  nav#navbar {
    position: inherit;
  }
}
